<h2>My Cart</h2>
<div class="cart-item row mb-2 me-4" *ngFor="let item of items">
  <span class="col">{{ item.category }} </span>
  <span class="col">{{ item.company }} </span>
  <span class="col">{{ item.model }} </span>
  <span class="col">{{ item.price }} ₪ </span>
  <button type="button" class="btn btn-primary col" (click)="removeItem(item)">
    Remove item
  </button>
</div>
<button
  type="button"
  class="btn btn-primary m-2"
  (click)="emptyCart()"
  *ngIf="items.length != 0"
>
  Empty cart
</button>
