<h2>My Guitar Dream-List</h2>
<div class="row">
  <div class="col">
    <button class="btn btn-primary m-2" type="button" (click)="getDreamItems()">
      Get dream guitars
    </button>
    <button
      class="btn btn-primary m-2"
      type="button"
      (click)="emptyDreamItems()"
    >
      Empty dream items
    </button>
    <div *ngFor="let item of dreamList">
      <span>{{ item.category }} </span>
      <span>{{ item.company }} </span>
      <span>{{ item.model }} </span>
      <span>{{ item.price }} ₪ </span>
      <button
        class="btn btn-primary mb-2"
        type="button"
        (click)="removeDreamItem(item)"
      >
        Delete item
      </button>
    </div>
  </div>
  <form class="col">
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="dreamItem.category"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div class="mb-3">
      <label for="company" class="form-label">Company</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="dreamItem.company"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div class="mb-3">
      <label for="model" class="form-label">Model</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="dreamItem.model"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input
        type="number"
        class="form-control"
        [(ngModel)]="dreamItem.price"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <button class="btn btn-primary mb-3" type="button" (click)="addDreamItem()">
      Add dream guitar
    </button>
  </form>
</div>
