main {
  padding-top: 50px;
  overflow-y: auto;
}
/* app-menu,
  app-content {
  border: solid;
  } */

app-menu {
  position: relative;
  top: 70px;
  /* background-color: rgb(102, 91, 200); */
}

div.row {
  margin: 0%;
  background-color: rgb(237, 237, 241);
  /* background-image: url("../assets/images/6751329.jpg"); */
}
