footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  min-height: 50px;
  height: 120px;
  /* border: solid; */
  background-color: rgb(45, 98, 244);
  color: rgb(237, 237, 241);
}

img {
  height: 40px;
}
/* .contactImages {
  width: 200px;
} */
.phoneNum {
  width: 300px;
}
