footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  min-height: 50px;
  height: 120px;
  border: solid;
}

img {
  height: 40px;
}
/* .contactImages {
  width: 200px;
} */
.phoneNum {
  width: 300px;
}
